@import "library/_variables.scss";
@import "library/_headings.scss";

@import "components/_header.scss";
@import "components/_footer.scss";
@import "components/_mainNav.scss";
@import "components/_menu.scss";
@import "components/_forms.scss";
@import "components/_badges.scss";

@import "sections/_main.scss";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower





/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 1200px;
  }
}

html, body {
  background: {
    color: $body-bg;
    image: url("../images/bg/bnet-background-1920.3ooDe.jpg");
    repeat: no-repeat;
    position: center -200px ;
  }
  padding: 0px;
  margin: 0px;
}

a , a:link , a:focus , a:visited {
  color: $link-color;
  //-webkit-transition: color,0.2s;
  //transition: color 0.2s; // There is currently a bug in visited links with transition color in AngularJS and Chrome, causing them to be rendered in the default browser color.
}

a:hover {
  text-decoration: none;
  color: $link-hover-color;
}

.body {
  padding-bottom: 100px;
  section {
    ul {
      padding: 0px;
      
      li {
        color: $gray-dark;
        font-size: 13px;
        line-height: 20px;
        list-style: none;
        span {
          color: $gray;
        }
      }
    }
  }
}