/* General form containers and elements styles */

form , .message {
  background: rgba(255,255,255,0.05);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px 20px;
  label {
    width: 50%;
  }
}

.body {
  input , select {
    color: black;
  }
}