div.page {
  background: {
    color: #0f2a48;
    image: url("../images/bg/bnet-background-1024.jpg");
    repeat: no-repeat;
    position: center 0;
  }

  margin-bottom: 40px;
  
  header {
    background-color: rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.07);
    .row {
      position: relative;
    
      a.brand {
        background: {
          color: transparent;
          image: url("../images/logo/mark.4MNOa.png");
          repeat: no-repeat;
          position: left 18px;
        }
        display: inline-block;
        float: left;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 23px;
        line-height: 30px;
        height: 30px;
        padding: 25px 0;
        color: #fff;
        padding-left: 60px;
        transition: text-shadow .2s, color .2s;
        box-sizing: content-box;
      }
      
      a.brand:hover, a.brand:focus {
        text-shadow:0 0 10px $gray-dark,0 0 10px $gray-dark;
      }
    }
  }
}

@media screen and (min-width: $screen-md) {
  div.page {
    background-image: url("../images/bg/bnet-background-1920.jpg");
  }
}