/* Navigation menu contained in header */

header nav {
  position: absolute;
  top: 0px;
  right: 8px;

  ul.nav {
    display: inline-block;
    float: right;
    font-family: "Lucida Sans Unicode","Lucida Grande",Arial,sans-serif;
    position: relative;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 75;
    font-size: 12px;
    padding: 0;
    margin: 0 0 40px 30px;
    line-height: 25px;
    li {
      margin: 0;
      background: url("../images/bg/bg-nav-service.png") repeat-x 0 -200px;
      color: #8694a1;
      display: block;
      float: left;
      line-height: 32px;
      padding: 0 0 6px 0;
      position: relative;
      a {
        color: #00b6ff;
        font-size: 11px;
        text-decoration: none;
        border-left: 1px solid #33373b;
        display: block;
        font-size: 10px;
        line-height: 33px;
        padding: 0 1.5em;
        text-transform: uppercase;
      }
      a:hover , a:focus {
        background-color: #343434;
        color:#fff;
      }
      a.active{
        background:#c5c5c5;
        color:#000;
      }
      a#login-button {
        cursor: pointer;
      }
    }
    li:first-child {
      background-position: 0 0;
      background-repeat: no-repeat;
      a {
        background: url("../images/bg/bg-nav-service.png") no-repeat 0 -40px;
        border-left: none;
        display: block;
        line-height: 33px;
        padding: 0 0 0 7px;
        text-indent: -9999px;
        text-align: left;
        width: 48px;
      }
      a:hover , a:focus {
        background-color:transparent;
        background-position:0 -80px;
      }
    }
    li:last-child {
      background-position: 100% 0;
      padding: 0 0 6px 0;
      a {
        background: url("../images/bg/bg-nav-service.png") repeat-x 100% -40px;
        color: #fff;
        display: block;
        line-height: 33px;
        padding: 0 40px 0 1.5em;
        text-transform: uppercase;
        position: relative;
      }
      a:hover , a:focus {
        background-position:100% -80px;
      }
      a.active , a.active:hover , a.active:focus {
        background-position:100% -120px;
      }
    }
  }
}