<section>
  <h4 ng-bind-html="questions[0].title"></h4>
  <section ng-bind-html="questions[0].body"></section>
  <ul>
    <li ng-repeat="comment in questionComments">
      <span ng-bind-html="comment.body"></span>
      -
      <span ng-bind="comment.owner.display_name"></span>
      <span ng-bind="comment.score"></span>
      <span am-time-ago="comment.creation_date * 1000"></span>
    </li>
  </ul>
</section>
<hr />
<section>
  <h4>Answers</h4>
  <ul>
    <li ng-repeat="answer in questionAnswers">
      <span ng-bind-html="answer.body"></span>
      <ul>
        <li ng-repeat="comment in answerComments" ng-if="answer.answer_id == comment.post_id">
          <span ng-bind-html="comment.body"></span>
          -
          <span ng-bind="comment.owner.display_name"></span>
          <span ng-bind="comment.score"></span>
          <span am-time-ago="comment.creation_date * 1000"></span>
        </li>
      </ul>
    </li>
  </ul>
</section>