<form name="searchForm">
  <select ng-model="selectedTag" ng-change="selectTag(selectedTag)" ng-options="tag.name for tag in tags track by tag.name" />
</form>
<section>
  <h4>Search Results</h4>
  <ul>
    <li ng-repeat="question in searchQuestions">
      <ul>
        <li>Title: <a ng-href="{{question.link}}" ng-bind-html="question.title"></a></li>
        <li>Votes: <span ng-bind="question.score"></span></li>
        <li>Answers: <span ng-bind="question.answer_count"></span></li>
        <li>Views: <span ng-bind="question.view_count"></span></li>
        <li>Date Asked: <span ng-bind="question.creation_date * 1000 | date"></span></li>
        <li>Tags:
          <ul>
            <li ng-repeat="tag in question.tags"><a ng-href="/#/search/tag/{{tag}}" ng-bind="tag"></a></li>
          </ul>
        </li>
      </ul>
    <li ng-show="!searchQuestions.length">There are no questions for the specified term.</li>
    </li>
  </ul>
</section>
<aside>
  <h4>Tag Cloud</h4>
  <ul>
    <li ng-repeat="tag in searchQuestions | uniqueTags"><a ng-href="/#/search/tag/{{tag}}" ng-bind="tag"></a></li>
  </ul>
</aside>